/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  box-sizing: border-box; }

nav {
  display: flex;
  color: #F6F6F6;
  background-color: #2B2B2B; }
  nav img {
    display: flex;
    width: 33%; }
  nav ul {
    display: flex;
    width: 100%;
    min-height: 30px;
    margin-left: 5px; }
  nav li {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between; }

#main-site {
  width: 100%;
  background: #F6F6F6;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap; }
  #main-site h1 {
    font-family: 'Encode Sans', sans-serif;
    font-size: 45px;
    color: #DE1B1B;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    margin-top: 20px; }
  #main-site p {
    display: flex;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px; }

.main-section-image {
  min-height: 500px;
  width: 100%;
  align-self: center;
  margin: 0 auto;
  margin-top: 20px; }
  .main-section-image img {
    width: 100%;
    height: 500px; }

.profiles-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.profil1,
.profil2 {
  width: 40%;
  margin: 0 auto;
  justify-content: center; }
  .profil1 img,
  .profil2 img {
    align-self: center;
    width: 100%;
    margin-top: 30px; }
  .profil1 h2,
  .profil2 h2 {
    font-family: 'Encode Sans', sans-serif;
    font-size: 35px;
    color: #DE1B1B;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
