@import "reset";
@import "variables";
@import "mixins";

nav {
    display: flex;
    color: $whitegray;
   background-color: $blacksec;
    img {
        display: flex;
        width: 33%;
    }
    ul { display: flex;
        width: 100%;
        min-height: 30px;
        margin-left: 5px;
    }
    li{
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
        
    }
}
#main-site {
    @include sectioner;
    display: flex;
    
}
.main-section-image {
    min-height: 300px;
    width: 100%;
    background: url("http://via.placeholder.com/750x100");
    background-size: contain;
    align-self: center;
    margin: 0 auto;
   
    
    
}