@import "reset";
@import "variables";
@import "mixins";
body {
    box-sizing: border-box;
}

nav {
    display: flex;
    color: $whitegray;
    background-color: $blacksec;
    img {
        display: flex;
        width: 33%;
    }
    ul {
        display: flex;
        width: 100%;
        min-height: 30px;
        margin-left: 5px;
    }
    li {
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
    }
}

#main-site {
    @include sectioner;
    display: flex;
    flex-wrap: wrap;
    h1 {
        @include hajeden;
        width: 100%;
        margin-top: 20px;
    }
    p {
        display: flex;
        width: 50%;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 20px;
    }
}

.profiles-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.profil1,
.profil2 {
    @include profiles;
    img {
        align-self: center;
        width: 100%;
        margin-top: 30px;
    }
    h2 {
        @include hadwa;
        margin-bottom: 20px;
    }
}

.destination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .circle-container {
        display: flex;
        width: 45%;
        min-height: 100px;
        margin: 0 auto;
        margin-top: 20px;
        div {
            background: url("/img/circle2.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 30%;
            min-height: 200px;
            flex-wrap: wrap;
            
        }
    }
}

//@keyframes spin-clockwise {
//    0% {
//        transform: rotate(0deg);
//    }
//    25% {
//        transform: rotate(90deg);
//    }
//    50% {
//        transform: rotate(180deg);
//    }
//    75% {
//        transform: rotate(270deg);
//    }
//    100% {
//        transform: rotate(360deg);
//    }
//}
